<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FinTrack.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FinTrack.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>ru</value>
            </setting>
            <setting name="StartPage" serializeAs="String">
                <value>Home</value>
            </setting>
            <setting name="OpenAiEndpoint" serializeAs="String">
                <value>https://api.openai.com/
</value>
            </setting>
            <setting name="OpenAiDeploymentName" serializeAs="String">
                <value>gpt-3.5-turbo</value>
            </setting>
            <setting name="OpenAiApiKey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
        </FinTrack.Properties.Settings>
        <FinTrack.Settings>
            <setting name="Language" serializeAs="String">
                <value>ru</value>
            </setting>
        </FinTrack.Settings>
    </userSettings>
</configuration>